
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect"
        href="https://fonts.gstatic.com">
    <link href=
"https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
        rel="stylesheet">

 
<body>
    <div class="container">
        <div class="user-image">
            <img src=
"https://st2.depositphotos.com/3665639/7449/v/600/depositphotos_74495207-stock-illustration-shopping-cart-icon.jpg"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h3 class="name">{{user.name}}</h3> <br>
            <p class="username">Te enviamos un correo con los datos de tu compra a <br>{{user.email}}</p>
                       <br> <a class="effect effect-4" href="/">
                Volver a Home
            </a>

    <script src="https://kit.fontawesome.com/704ff50790.js"
        crossorigin="anonymous">
    </script>
</body>
